<div id="<%= dom_id list %>">
  <div class="row">
     <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <strong>From:</strong>
            <%= list.from %>
          </h5>
          <hr/>
          <p>
            <strong>Project:</strong>
            <%= list.project %>
          </p>

          <p>
            <strong>Description:</strong>
            <%= list.description %>
          </p>
          <p>
            <% link_to "Show this list", list, class: "btn btn-secondary" %>
          </p>
          <%= link_to "Edit", edit_list_path(list), class: "btn btn-outline-secondary btn-sm" %>
          <%= button_to "Delete", (list), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm", form: {style: 'display:inline-block;'}%>
        </div><!-- End card body -->   
      </div><!-- End card -->
    </div><!-- End column -->  
  </div><!-- End row -->
    
</div><!-- End dom_id list -->
